body{
    background-color: rgb(255, 153, 0);
}

h1, h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}